html,
body {
    background-color: lightgreen;
    margin: 0;
    height: 100%;
}

#search-bar {
    display: flex;
    justify-content: center;
}

#filter-input {
    font-family: "Playfair Display", serif;
    border: 1px black solid;
    border-radius: 25px;
    padding: 25px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: large;
    background-image: linear-gradient(to bottom left, rgb(223, 243, 6), rgb(168, 166, 27), white);
    box-shadow: 5px 5px 5px gray;
}

#titles>#headline {
    display: flex;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-family: "Playfair Display", serif;
    border: 1px black solid;
    border-radius: 25px;
    padding: 25px;
    width: 200px;
    text-align: center;
    font-size: large;
    color: forestgreen;
    background-image: linear-gradient(to bottom left, lime, lightgreen, white);
    box-shadow: 5px 5px 5px gray;
}

#unfollow-all {
    display: flex;
    justify-content: center;
}

#unfollow-all>button {
    background-color: darkkhaki;
}

#home-tab-pane>#token-box {
    display: flex;
    flex-wrap: wrap;
}

#token-box>.one-token {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 10px;
    background-color: coral;
}

.one-token>#token-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.one-token>#token-symbol {
    display: flex;
    grid-row: 2;
    align-items: center;
    justify-content: center;
}

.one-token>#info-symbol {
    display: flex;
    grid-row: 3;
    align-items: center;
    justify-content: center;
}

.one-token>#info-symbol>button {
    background-color: burlywood;
}

.one-token>#switcher {
    display: flex;
    grid-row: 4;
    align-items: center;
    justify-content: center;
}

img {
    margin: auto;
    display: flex;
    text-align: center;
    width: 500px;
}

fieldset {
    margin: auto;
    text-align: center;
}

legend,
#description {
    color: darkgreen;
}

#profile-tab-pane {
    height: 100%;
    margin: 0;
}

.mobile-image {
    display: none;
}

@media (max-width:600px) {

    html,
    body {
        background-color: lightcoral;
    }

    #filter-input {
        background-image: linear-gradient(to bottom left, rgb(239, 67, 67), rgb(226, 115, 154), white);
    }

    h1 {
        color: darkred;
        background-image: linear-gradient(to bottom left, rgb(239, 67, 67), rgb(226, 115, 154), white);
    }

    #unfollow-all>button {
        background-color: red;
    }

    #token-box>.one-token {
        grid-template-rows: repeat(3, 1fr);
        background-color: coral;
        width: -webkit-fill-available;
    }

    .one-token>#info-symbol {
        display: none;
    }

    .one-token>#switcher {
        grid-row: 3;
    }

    legend,
    #description {
        color: darkred;
    }

    .mobile-image {
        width: 300px;
        display: flex;
    }

    .web-image {
        display: none;
    }

}